<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-between mb-3">
        <h1>Orders List</h1>
        <a href="/orders/create" class="btn btn-primary align-self-center">Додати замовлення</a>
    </div>
    <div th:each="order : ${orders}" class="card mb-3">
        <div class="card-body">
            <h5 class="card-title" th:text="'ID: ' + ${order.id}"></h5>
            <p class="card-text" th:text="'Table Number: ' + ${order.tableNumber}"></p>
            <p class="card-text" th:text="'Start Date: ' + ${#temporals.format(order.startDate, 'dd-MM-yyyy HH:mm')}"></p>
            <p class="card-text" th:text="'End Date: ' + ${#temporals.format(order.endDate, 'dd-MM-yyyy HH:mm')}"></p>
            <p class="card-text" th:text="'Serving Code: ' + ${order.servingCode}"></p>
            <p class="card-text" th:text="'Phone Number: ' + ${order.phoneNumbClient}"></p>
            <p class="card-text" th:text="'Client Name: ' + ${order.clientName}"></p>
            <p class="card-text" th:text="'Deposit: ' + ${order.deposit}"></p>
            <p class="card-text" th:text="'Manager Code: ' + ${order.managerCode}"></p>
            <div class="d-flex justify-content-between">
                <a th:href="@{/orders/edit/{id}(id=${order.id})}" class="btn btn-primary">Змінити інформацію</a>
                <a th:href="@{/orders/delete/{id}(id=${order.id})}" class="btn btn-danger">Видалити</a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
